* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}

.navbar p {
    font-weight: bold;
}

.navbar__s2 {
    display: flex;
    gap: 25px;
}

.navbar__s2 p {
    border: solid white 1px;
    padding: 8px;
}

.navbar__s2 p:hover {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 8px;
    border: solid #f2f2f2 1px;
}

.navbar__s3 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__s3__line {
    border-left: solid rgb(235, 232, 232) 2px;
    padding-left: 5px;
}

.navbar__s3__border {
    border: solid white 1px;
    padding: 8px;
}

.navbar__s3__border:hover {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 8px;
    border: solid #f2f2f2 1px;
}

.navbar__s3__button {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 20px;
}

.navbar__phone {
    display: none;
}

.category {
    margin-top: 80px;
}

.category__s1 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.category__s2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.category__s2 p {
    border-bottom: solid white 2px;
}

.category__s2 p:hover {
    border-bottom: solid black 2px;
}

.category__phone {
    display: none;
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.search__s1 {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding-top: 5px;
    padding-left: 5PX;
    padding-bottom: 5px;
    border: solid white 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 600px;
    border-radius: 30px;
}

.search__s1 input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 450px;
}

.search__search {
    border: solid #84e9bd 1px;
    padding: 10px;
    padding-right: 15px;
    border-radius: 30px;
    background-color: #84e9bd;
}

.search__s1 input:focus {
    outline: none;
}

/*Search Phone*/
.search__phone {
    display: none;
}

.sale-image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    z-index: -1;
}

.sale-image img {
    border-radius: 20px;
}

.sale-image__offer {
    color: white;
    position: absolute;
    top: 80px;
    left: 200px;
    width: 25%;
}

.sale-image__offer__p {
    font-size: 18px;

}

.sale-image__offer__p__button {
    background-color: white;
    border: none;
    padding: 2px;
    border-radius: 5px;
    color: black;
}

.sale-image__offer__h2 {
    font-weight: bolder;
    font-size: 50px;
}

.sale-image__offer__h4 {
    font-size: 28px;
}

.sale-image__offer__button {
    background-color: white;
    color: black;
    padding: 5px;
    width: 45%;
    border-radius: 20px;
    margin-top: 10px;
}

.sale-image-phone {
    display: none;
}

.explore-world {
    margin: 40px;
    margin-left: 60px;
    margin-right: 60px;
    cursor: pointer;
}

.explore-world-container{
    display: flex;
    gap: 30px;
    flex-direction: row;
    overflow-x: auto;
    position: relative;
}

.explore-world-container::-webkit-scrollbar{
    width: 0;
}

.explore-world-container__card img {
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    z-index: -1;
}


.explore-world-container__card h1 {
    position: absolute;
    bottom: 10px;
    padding: 5px;
    width: 290px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    background-color: rgba(141, 141, 141, 0.15);

}


.chennai {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -30px;

}

.chennai-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.chennai-container::-webkit-scrollbar {
    width: 0;
}

.chennai-container__card img {
    height: 350px;
    width: 350px;
    border-radius: 20px;

}

.chennai-container__card {
    position: relative;
    z-index: -1;
}

.chennai-container__card i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    scale: 200%;
}

/* Get Started */

.get-started {
    margin-left: 60px;
    margin-right: 60px;
    background-color: #d9f4e9;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: -1;
    position: relative;
}

.get-started__container {
    display: flex;
    gap: 40px;
}

.get-started__container img {
    width: 150px;
    border-radius: 20px;
    transform: rotate(-5deg);
}

.get-started__container__content {
    padding-top: 40px;
}

.get-started__container__content h2 {
    padding-bottom: 30px;
}

.get-started__button {
    position: absolute;
    right: 40px;
    bottom: 30px;
    border: solid black 1px;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
}

/* Destination */
.destination {
    margin-left: 60px;
    margin-right: 60px;
}

.destination-h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.destination-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 30px;
}

.destination-container::-webkit-scrollbar {
    width: 0;
}
.destination-container__card{
    position: relative;
}

.destination-container__card img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.destination-container__card h2 {
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    padding-left: 10px;
    color: white;
    width: 300px;
}

/*more to explore */
    

.more-to-explore {
    background-color: #faebd7;
    padding: 20px;
    margin-top: 20px;
}

.more-to-explore h2 {
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;

}

.more-to-explore__container {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 30px;
  
}

.more-to-explore__container::-webkit-scrollbar {
    width: 0;
}

.more-to-explore__container__card {
    position: relative;
}

.more-to-explore__container__card img {
    width: 500px;
    height: 350px;
    border-radius: 20px;

}

.more-to-explore__container__card h4 {
    padding-top: 20px;
    text-align: center;
}

.more-to-explore__container__card i {
    position: absolute;
    top: 20px;
    right: 30px;
    scale: 200%;
    color: white;
}

.sponser{
    background-color: #F2ECF9;
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 30px;
    width: 1200px;
    
}
.sponser__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.sponser__container__card{
padding: 50px;
}
.sponser__container__image img{
    width: 500px;
    height: 500px;
}
.sponser__container__card__logo img{
    height: 30px;
    width: 30px;
}
.sponser__container__card__logo {
    display: flex;
    flex-direction: row;
}
.sponser__container__card__logo a{
    color: black;
}
.sponser__button{
    border: solid black 1px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    padding: 8px;
}

/*Sponser Phone*/
.sponser-phone{
    display: none;
}







@media screen and (max-width:500px) {
    * {
        padding: 0;
        margin: 0;
    }

    body {
        font-size: 10px;
    }

    /*Navbar Phone*/

    .navbar {
        display: none;
    }

    .navbar__phone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .navbar__phone img {
        width: 90px;
        height: 40px;
    }

    /*Category Phone*/

    .category {
        display: none;
    }

    .category__phone {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 14px;
    }

    /*Search Bar Phone*/

    .search {
        display: none;
    }

    .search__phone {
        display: flex;
        justify-content: center;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 10px;

    }

    .search__phone__s {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .search__phone__s1 {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: solid gray 1px;
        padding-bottom: 10px;
    }

    .search__phone__s1 input {
        background-color: transparent;
        border: none;
        width: 300px;
    }

    .search__phone__s1 input:focus {
        outline: none;
    }

    .search__phone__search {
        text-align: center;
        margin-top: 10px;
        border: solid #84e9bd 1px;
        border-radius: 20px;
        padding: 5px;
        background-color: #84e9bd;

    }

    /*sale image*/

    .sale-image {
        display: none;
    }

    .sale-image-phone {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        position: relative;
        height: 200px;
    }

    .sale-image-phone img {
        border-radius: 20px;
        width: 80%;
    }

    .sale-image-phone__offer {
        color: white;
        position: absolute;
        top: 40px;
        left: 60px;
        width: 45%;
    }

    .sale-image-phone__offer__p {
        font-size: 10px;

    }

    .sale-image-phone__offer__p__button {
        background-color: white;
        border: none;
        padding: 2px;
        border-radius: 5px;
        color: black;
    }

    .sale-image-phone__offer__h2 {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
    }

    .sale-image-phone__offer__h4 {
        font-size: 10px;
    }

    .sale-image-phone__offer__button {
        background-color: white;
        color: black;
        padding: 5px;
        width: 60%;
        border-radius: 20px;
        margin-top: 10px;
    }

    /*Explore World*/

    .explore-world {
        margin: 20px;
        
    }

   

    .explore-world-container__card img {
        width: 170px;
        height: 170px;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 20px;
    }

    .explore-world-container__card h1 {
        bottom: 5px;
        padding: 5px;
        width: 160px;
        color: white;
        background-color: rgba(141, 141, 141, 0.15);
    }



    /*Chennai*/
    .chennai-container__card img {
        height: 170px;
        width: 170px;
        border-radius: 20px;
        cursor: pointer;
        border-radius: 10px;

    }

    .chennai {
        margin: 20px;

    }

    .get-started {
        display: none;
    }

    /*Destination */

    .destination {
        margin: 20px;
        margin-top: -10px;
    }

    .destination-container img {
        width: 170px;
        height: 170px;
        border-radius: 10px;
    }

  

    .destination-container h2 {
        font-size: 16px;
        bottom: 10px;
        width: 140px;
    }

    /*More to Explore phone */

    .more-to-explore {
        background-color: rgb(226, 204, 176);
        padding: 20px;
        margin-top: 20px;
    }

    .more-to-explore__container__card img {
        width: 250px;
        height: 175px;
        border-radius: 20px;
    }

    .more-to-explore h2 {
        margin: 10px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .more-to-explore__container {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 30px;
        z-index: -1;
    }

    .more-to-explore__container__card h4 {
        padding-top: 10px;
        text-align: center;
    }

    /*sponser phone*/

    .sponser{
        display: none;
    }
   .sponser-phone{
    display: flex;
    flex-direction: column;
    background-color: #ded7e5;
    margin-top: 30px;
   }
   .sponser-phone__container{
    margin: 20px;
   }
   .sponser-phone__container__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
   }
   .sponser-phone__container__logo img{
    height: 20px;
    width: 20px;
   }
   .sponser-phone__container__image img{
    width: 380px;
    height: 380px;
    margin-top: 10px;
   }
   .sponser-phone__button{
    border: solid black 1px;
    width: 80px;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 15px;
   }







}